* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }

    /* Header */
    #container-header {
        height: 90px;
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: .5s;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        box-shadow: 1px 0 8px rgba(255, 255, 255, 0.2);
        font-family: 'Poppins', sans-serif;
        color: rgb(255, 255, 255);
    }

    .container-header h1 span {
        color: #ffffff;
    }
    

    /* Add this class when scroll page */

    
    .change-color {
        background-color: rgb(255, 255, 255);
    }

    .change-color h3 a:hover {
        color: #BFDB38;
    }
    .change-color a {
        color:  #00425A;
        text-decoration: none; 
    }

    #menu-bar {
        display: flex;
        justify-content: space-between;
        color: white;
        margin-right: 50px;
    }
    #menu-bar a {
        text-decoration: none;
        font-weight: bold;

    }
    
    .c {
        color: rgb(0, 0, 0);
    }
    
    h1 {
        margin-left: 50px;
    }

    .hover a:hover {
        color: #BFDB38;
    }

    
    #menu-bar a {
        margin-right: 20px;
    }

    /* Main */
    .container-main {
        width: 100%;
        height: 100vh;
        background-image: url('file/bg4.jpg');
        background-size: cover;
    }
    .container-main2 {
        width: 100%;
        height: 100vh;
        background-color: rgb(29 27 26);
        display: flex;
        justify-content: center;
    }

    .container-main2 h2 {
        display: inline-block;
        margin-top: 150px;
        color: #ffffff;
    }

    .a {
        margin-right: 10px;
    }
    #b {
        margin-left: 10px;
    }
    